/* Remove ruled paper background */
body {
    background-color: #ffffff !important;
    background-image: none !important;
}

/* Remove the 'previous/next' buttons (if they are still visible) */
div.md-nav-btns {
    display: none !important;
}
